body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6C5B7B;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas{
  border-radius: 1em;
}

.shadow{
  box-shadow: 0 0 50px rgba(0,0,0,0.4);
  background-color: #355C7D;
  border-radius: 2em;
}

.MuiInputBase-input{
  color:white !important;
}

#create, #run, #reset{
  height: 3.7em;
  margin-left: 0.5em;
}

.modebar-container{
  display: none !important;
}

#reset{
  display: none;
}

@media only screen and (max-width: 900px) {
  .center{
    margin-top: 5vh;
  }
  #run, #reset{
    display: none !important;
  }
}

@media only screen and (min-width: 901px) {
  .center{
    margin-top: 10vh;
  }
  #run-mobile, #reset-mobile{
    display: none !important;
  }
}
